@page
@model GadgetHub.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Supplier)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products.ProductsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
